{% extends 'app/header.html' %}

{% block title %}Bienvenido, Cliente{% endblock %}

{% block content %}
<div class="cliente-dashboard">
    <!-- Sidebar -->
    <div class="sidebar">
        <h2>Gestión del Perfil</h2>
        <ul class="panel-btn">
            <li><a href="#" class="btn-sidebar">Estadísticas Personales</a></li>
            <li><a href="{% url 'ver_mis_reservas' %}" class="btn-sidebar">Mis Reservas</a></li>
            <li><a href="{% url 'actualizar_cliente' %}" class="btn-sidebar">Actualizar Información</a></li>
            <li><a href="{% url 'reservas_totales_cliente' %}" class="btn-sidebar">Historial de Reservas</a></li>
        </ul>
    </div>

    <!-- Contenido Principal -->
    <div class="main-content">
        <h3>Estadísticas Personales</h3>
        <input type="date" id="datePicker" class="date-picker">

        <div class="card-container">
            <div class="card">
                <h4>Reservas Totales</h4>
                <p>{{ reservas_totales }}</p>
            </div>
            <div class="card">
                <h4>Reservas Completadas</h4>
                <p>{{ reservas_completadas }}</p>
            </div>
            <div class="card">
                <h4>Reservas Pendientes</h4>
                <p>{{ reservas_pendientes }}</p>
            </div>
        </div>

        <!-- Lista de Profesionales para Calificar -->
        <div class="list-group mt-5">
            <h4>Profesionales para Calificar</h4>
            {% if profesionales %}
                {% for profesional in profesionales %}
                    <a href="{% url 'ver_reservas_profesional' profesional.id %}" class="list-group-item list-group-item-action">
                        <div>
                            <strong>{{ profesional.nombre }} {{ profesional.apellido }}</strong><br>
                            Fecha: {{ profesional.reserva.fecha|date:"d/m/Y" }}<br>
                            Servicio: {{ profesional.reserva.subcategoria.nombre }}<br>
                            Precio: ${{ profesional.reserva.subcategoria.precio_base }}
                        </div>
                    </a>
                {% endfor %}
            {% else %}
                <p>No tienes profesionales disponibles para calificar.</p>
            {% endif %}
        </div>
    </div>
</div>

<script>
    // Obtener la fecha de hoy en el formato YYYY-MM-DD
    const today = new Date().toISOString().split('T')[0];
    // Establecer el valor del input
    document.getElementById("datePicker").value = today;
</script>
{% endblock %}
