{% extends 'app/header.html' %}

{% block title %}Calendario de Reservas{% endblock %}

{% block content %}
<div class="admin-dashboard">
    <!-- Sidebar -->
    <div class="sidebar">
        <h2>Gestión</h2>
        <ul class="panel-btn">
            <li><a href="{% url 'profesional_home' %}" class="btn-sidebar">Inicio</a></li>
            <li><a href="{% url 'editar_perfil_profesional' %}" class="btn-sidebar">Editar Perfil</a></li>
            <li><a href="{% url 'calendario_reservas' %}" class="btn-sidebar">Calendario de Reservas</a></li>
            <li><a href="#" class="btn-sidebar">Historial de Reservas</a></li>
        </ul>
    </div>
    <div class="calendar_reservas">
        <h2>Calendario de Reservas</h2>
        <div id="calendar"></div>
    </div>
    <!-- Modal de Bootstrap -->
    <div class="modal fade" id="eventModal" tabindex="-1" aria-labelledby="eventModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="eventModalLabel">Detalles de la Reserva</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p id="modalContent"></p>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const calendarEl = document.getElementById('calendar');
        const calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            locale: 'es',
            buttonText: {
                today: 'Hoy'
            },
            events: '{% url "reservas_json" %}',
            eventClick: function(info) {
                document.getElementById('modalContent').innerText = 
                    `${info.event.title} el ${info.event.start.toLocaleString()}`;
                var myModal = new bootstrap.Modal(document.getElementById('eventModal'));
                myModal.show();
            }
        });
        calendar.render();
    });
</script>
{% endblock %}
