/* Contenedores de formulario */
.login-container, .register-container {
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #E9E3FF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos de campos de formulario */
.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    color: #431F32;
    margin-bottom: 5px;
    font-size: 14px;
}

.form-group input:focus {
    border-color: #630D3B;
    outline: none;
}

.form-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.form-actions .btn {
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.form-actions .btn-primary {
    background-color: #630D3B;
    color: white;
}

.form-actions .btn-primary:hover {
    background-color: #630D3B;
}

.form-actions .btn-secondary {
    background-color: #878AA6;
    color: white;
}

.form-actions .btn-secondary:hover {
    background-color: #878AA6;
}

/* Estilos de botones */
.register-container form button {
    padding: 10px 15px;
    background-color: #431F32;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}