.login-container, .register-container {
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container h2, .register-container h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
}

.register-container form {
    display: flex;
    flex-direction: column;
}

.register-container form input,
.register-container form select {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.register-container form button {
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.register-container form button:hover {
    background-color: #218838;
}

.register-container h2 {
    font-family: Arial, sans-serif;
    color: #333;
}