th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #E9E3FF;
    font-size: 14px;
}

tr:nth-child(even) {
    background-color: #E9E3FF;
}

tr:hover {
    background-color: #E9E3FF;
}

td {
    color: #431F32;
}