{% extends 'app/header.html' %}

{% block content %}


<div>
    <h1>Términos y Condiciones</h1>
    <p>Bienvenido a ServiceMatch. Al utilizar nuestro sitio web para agendar servicios profesionales, aceptas cumplir con estos términos y condiciones. Por favor, léelos cuidadosamente.</p>

    <h2>1. Aceptación de los Términos</h2>
    <p>Al acceder y utilizar nuestro sitio web, aceptas y te comprometes a cumplir con estos términos y condiciones, así como con cualquier normativa aplicable.</p>

    <h2>2. Modificaciones de los Términos</h2>
    <p>Nos reservamos el derecho a modificar estos términos en cualquier momento. Las modificaciones se harán efectivas al publicarse en nuestro sitio web. Es tu responsabilidad revisar estos términos periódicamente.</p>

    <h2>3. Uso del Sitio Web</h2>
    <p>Puedes utilizar nuestro sitio web para propósitos legítimos y de acuerdo con estos términos. No debes utilizar el sitio web de manera que cause o pueda causar daño al sitio web o que interfiera con su disponibilidad o accesibilidad.</p>

    <h2>4. Programación de Citas</h2>
    <p>Al agendar una cita con un profesional a través de ServiceMatch, te comprometes a asistir a la cita programada o a cancelarla con suficiente antelación. ServiceMatch se reserva el derecho de cobrar una tarifa por cancelaciones tardías o no presentaciones.</p>

    <h2>5. Propiedad Intelectual</h2>
    <p>Todo el contenido del sitio web, incluyendo textos, gráficos, logotipos e imágenes, es propiedad de ServiceMatch o de sus licenciantes y está protegido por leyes de propiedad intelectual.</p>

    <h2>6. Limitación de Responsabilidad</h2>
    <p>ServiceMatch no será responsable por ningún daño directo, indirecto, incidental, especial o consecuente derivado del uso o la imposibilidad de uso de nuestro sitio web.</p>

    <h2>7. Ley Aplicable</h2>
    <p>Estos términos se regirán e interpretarán de acuerdo con las leyes de [Tu País].</p>

    <h2>8. Contacto</h2>
    <p>Si tienes alguna pregunta sobre estos términos, por favor contáctanos en info@servicematch.com.</p>

</div>


{% endblock %}