{% extends 'app/header.html' %}

{% block title %}Bienvenido Admin{% endblock %}

{% block content %}
<div class="admin-dashboard">
    <!-- Columna Izquierda: Sidebar -->
    <div class="sidebar">
        <h2>Gestión</h2>
        <ul class="panel-btn">
            <li><a href="{% url 'admin_home' %}" class="btn-sidebar">Estadísticas</a></li>
            <li><a href="{% url 'reservas_totales' %}" class="btn-sidebar">Reservas</a></li>
            <li><a href="{% url 'gestionar_profesionales' %}" class="btn-sidebar">Gestionar Profesionales</a></li>
            <li><a href="{% url 'gestionar_profesion' %}" class="btn-sidebar">Gestionar Servicios</a></li>
        </ul>
        
    </div>

    <!-- Gráfico de estadísticas -->
    <div class="main-content">
        <h3>Estadísticas</h3> 
        <input type="date" id="datePicker" class="date-picker">

        <div class="card-container">
            <div class="card">
                <h4>Reservas</h4>
                <p>{{ total_reservas }}</p>
            </div>
            <div class="card">
                <h4>Reservas completadas</h4>
                <p>{{ reservas_completadas }}</p>
            </div>
            <div class="card">
                <h4>Usuarios</h4>
                <p>{{ total_usuarios }}</p>
            </div>
        </div>    
        <div class="card-container-gains">
            <div class="card">
                <h4>Promedio mensual $</h4>
                <p>${{ promedio_mensual }}</p>
            </div>
            <div class="card">
                <h4>Ganancias</h4>
                <p>${{ ganancias }}</p>
            </div>
        </div>    

        <div class="chart-container">
            <canvas id="myChart" width="400" height="200"></canvas>
        </div>
    </div>
</div>

<script>
    function cargarGrafico() {
        const fecha = document.getElementById('datePicker').value;
        fetch("{% url 'estadisticas_reservas' %}?fecha=" + fecha)
            .then(response => response.json())
            .then(data => {
                var ctx = document.getElementById('myChart').getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: data.meses,
                        datasets: [
                            {
                                label: 'Completadas',
                                data: data.completadas,
                                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                                borderColor: 'rgba(75, 192, 192, 1)',
                                borderWidth: 1
                            },
                            {
                                label: 'Pendientes',
                                data: data.pendientes,
                                backgroundColor: 'rgba(255, 206, 86, 0.2)',
                                borderColor: 'rgba(255, 206, 86, 1)',
                                borderWidth: 1
                            },
                            {
                                label: 'Canceladas',
                                data: data.canceladas,
                                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                                borderColor: 'rgba(255, 99, 132, 1)',
                                borderWidth: 1
                            }
                        ]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true,
                                ticks: {
                                    stepSize: 1
                                }
                            }
                        }
                    }
                });
            })
            .catch(error => console.error('Error:', error));
    }

    window.onload = cargarGrafico;

    // Obtener la fecha de hoy en el formato YYYY-MM-DD
    const today = new Date().toISOString().split('T')[0];
    // Establecer el valor del input
    document.getElementById("datePicker").value = today;
</script>
{% endblock %}

