{% extends 'app/header.html' %}

{% block title %}Gestionar Profesionales{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h2 class="text-center mb-4">Gestión de Profesionales</h2>

        <!-- Botones -->
        <div class="d-flex justify-content-center mb-4">
            <a href="{% url 'agregar_profesionales' %}" class="btn btn-success me-3">
                <i class="fas fa-plus-circle"></i> Agregar Profesional
            </a>
            <a href="{% url 'admin_home' %}" class="btn btn-secondary">
                <i class="fas fa-arrow-left"></i> Volver
            </a>
        </div>

        <table class="table table-hover table-bordered table-responsive-md text-center shadow">
            <thead class="bg-dark text-white">
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Profesión</th>
                    <th scope="col">Email</th>
                    <th scope="col">Teléfono</th>
                    <th scope="col">RUT</th> <!-- Agregado campo RUT -->
                    <th scope="col">Acción</th>
                </tr>
            </thead>
            <tbody>
                {% for profesional in profesionales %}
                    <tr>
                        <td>{{ profesional.nombre }}</td>
                        <td>{{ profesional.apellido }}</td>
                        <td>{{ profesional.profesion.nombre }}</td> 
                        <td>{{ profesional.email }}</td>
                        <td>{{ profesional.telefono }}</td>
                        <td>{{ profesional.rut }}</td> <!-- Agregado valor RUT -->
                        <td>
                            <div class="d-flex justify-content-center">
                                <a href="{% url 'eliminar_profesional' profesional.id %}" class="btn btn-warning btn-sm me-2">
                                    <i class="fas fa-edit"></i>Eliminar
                                </a>
                                <a href="{% url 'actualizar_profesional' profesional.id %}" class="btn btn-danger btn-sm">
                                    <i class="fas fa-trash-alt"></i>Actualizar
                                </a>
                            </div>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="7" class="text-muted">No hay profesionales registrados.</td> <!-- Ajustado colspan -->
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
